:root {
	--primary-color: #6c63ff;
	--dark: #222;
	--light: #f9f9f9;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
  }
  
  body {
	background: var(--light);
	color: var(--dark);
  }
  
  .navbar {
	display: flex;           
	justify-content: space-between;
	align-items: center;
  
	padding: 15px 40px;
	background: white;
  
	position: sticky;           
	top: 0;
	z-index: 1000;
  }
  
  .logo {
	color: var(--primary-color);
  }
  
  .nav-links {
	list-style: none;
	display: flex;
	gap: 25px;
  }
  
  .nav-links a {
	text-decoration: none;
	color: var(--dark);
	font-weight: bold;
  }
  
  .nav-links a:hover {            
	color: var(--primary-color);
  }
  
  .hero {
	height: 80vh;                
	display: flex;
	justify-content: center;
	align-items: center;
  
	background: linear-gradient(
	  to right,
	  #6c63ff,
	  #857dff
	);
  
	color: white;
	text-align: center;
  }
  
  .hero-text h1 {
	font-size: 3rem;              
	margin-bottom: 15px;
  }
  
  .hero-text p {
	font-size: 1.2rem;
	margin-bottom: 25px;
  }
  
  .btn {
	background: white;
	color: var(--primary-color);
  
	padding: 12px 25px;
	border-radius: 5px;
  
	text-decoration: none;
	font-weight: bold;
  
	transition: 0.3s;          
  }
  
  .btn:hover {
	background: var(--dark);
	color: white;
  }
  /*About Section*/

.about {
	display: flex;   
	align-items: center;           
	gap: 40px;
	padding: 60px;
	width: 90%;                 
	margin: auto;
	position: relative;        
  }
  
  .about img {
	width: 220px;
	height: 220px;
	max-width: 100%;
	border-radius: 50%;
	object-fit: cover;
	display: block;
  }
  
  .about-text {
	flex: 1;
  }
  
  .about-text h1 {
	margin-bottom: 15px;
  }
  .about-text h2 {
	font-size: 1.3rem;
  
	margin-top: 20px;
	margin-bottom: 15px;   /* GAP BELOW HEADING */
  
	text-align: left;      /* ALIGN WITH SKILLS */
  }
  
  .about-text p {
	line-height: 1.6;
	margin-bottom: 20px;
  }
  
  /*Skills*/
  
  .skills {
	list-style: none;
	display: flex;
  
	gap: 20px;            /* SPACE BETWEEN BUBBLES */
  
	flex-wrap: wrap;
	padding-left: 0;
  }
  
  
  .skills li {
	background: var(--primary-color);
	color: white;
	padding: 8px 15px;
	border-radius: 20px;
  }
  
  /*Badge*/
  .badge {
	position: absolute;
	top: 15px;
	right: 15px;
  
	background: var(--primary-color);
	color: white;
  
	padding: 6px 14px;
	border-radius: 20px;
  
	font-size: 0.8rem;
	font-weight: bold;
  }
  
  